.browser-alert {
  padding: 16px;
  text-align: center;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.browser-msg {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
