.App p {
  margin: 2vh 4vw;
}

.App .ag-theme-balham .ag-cell[col-id='mark'] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .ag-theme-balham a {
  text-decoration: underline;
  font-weight: 500;
}

.About .gh-project-name {
  margin-top: 0;
}

.About .gh-project-entry {
  margin-top: 20px;
}
