@import "./styles/highcharts.scss";

.App {
  p {
    margin: 2vh 4vw;
  }

  .ag-theme-balham {
    a {
      text-decoration: underline;
      font-weight: 500;
    }
  }

  .ag-theme-balham-dark {
    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}

.About {
  .gh-project-name {
    margin-top: 0;
  }

  .gh-project-entry {
    margin-top: 20px;
  }
}

.App, .Stats {
  .ag-theme-balham, .ag-theme-balham-dark {
    .date-col > {
      .fa.fa-star {
        color: palevioletred;
      }
    }

    .ag-cell[col-id='mark'] {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ag-paging-number,
    .ag-paging-row-summary-panel-number {
      font-weight: 700;
    }

    .bgm-external-link-icon {
      color: inherit;
    }
  }
}

.playlist-select {
  &__control {
    padding: 4px;
  }

  &__menu {
    z-index: 3 !important;
  }
}

.playlist-select-dark {
  &__control {
    background-color: #222 !important;
    border-color: #515151 !important;
    padding: 4px;
  }

  &__placeholder {
    color: #d1d5db !important;
  }

  &__multi-value {
    background-color: slategray !important;
    color: #fff !important;
  }

  &__input-container {
    color: #dbd1d1 !important;
    border: none !important;
  }

  &__input-container:focus {
    border: none !important;
    outline: none !important;
  }

  &__input:focus {
    border: none !important;
    outline: none !important;
  }

  &__input::after {
    border: none !important;
    display: none;
  }

  &__multi-value__label {
    color: #fff !important;
  }

  &__menu {
    background-color: #2d3748 !important;
    z-index: 3 !important;
  }

  &__option {
    color: #fff !important;
  }

  &__option--is-focused {
    background-color: slategray !important;
  }
}
