.About {
  margin: 2% 3% 3% 3%;
}

.App .ag-theme-balham {
  margin: auto;
  height: 90vh;
  width: 95vw;
}

.App .ag-theme-balham .ag-cell[col-id="mark"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
