.App {
  p {
    margin: 2vh 4vw;
  }

  .ag-theme-balham, .ag-theme-balham-dark {
    .date-col > {
      .fa.fa-star {
        color: palevioletred;
      }
    }

    .ag-cell[col-id='mark'] {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ag-paging-number,
    .ag-paging-row-summary-panel-number {
      font-weight: 700;
    }

    .bgm-external-link-icon {
      color: inherit;
    }
  }

  .ag-theme-balham {
    a {
      text-decoration: underline;
      font-weight: 500;
    }
  }

  .ag-theme-balham-dark {
    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}

.About {
  .gh-project-name {
    margin-top: 0;
  }

  .gh-project-entry {
    margin-top: 20px;
  }
}
